<h1>Ask question</h1>
<form action="/answer" data-turbo="false">
  <input type="text" name="answer" style = 'height: 39px'>
  <input type="submit" value="Ask!" class = "btn btn-primary rounder">
</form>
